target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# deployment keys
.travis/*.key
.travis/*.key.pub

/web/node_modules
/web/node
/web/yarn-error.log
/web/.env.production.local

/grafeo-web/node_modules
/grafeo-web/node
/grafeo-web/yarn-error.log
/grafeo-web/.env.production.local
/grafeo-web/.env.development.local