name: Build and Test

on:
  push:
  workflow_dispatch:

jobs:
  server_build:
    name: Server Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Build with Maven
        run: |
          cd grafeo-server
          mvn --batch-mode --update-snapshots verify
  web_build:
    name: Web Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 15.x
        uses: actions/setup-node@v1
        with:
          node-version: 15.x
      - name: Install dependencies
        run: |
          cd grafeo-web
          npm install
      - name: Generate build
        run: |
          cd grafeo-web
          npm run build